{
  "version": 6,
  "configurePresets": [
    {
      "name": "gui-mingw",
      "inherits": "gui",
      "binaryDir": "${sourceDir}/build-gui-mingw",
      "description": "Machine-specific MinGW compiler and Qt6 paths for Windows cross-compilation.",
      "generator": "MinGW Makefiles",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "D:/Work/Development/Runtimes/Qt/6.11.1/mingw_64",
        "CMAKE_C_COMPILER": "D:/Work/Development/Runtimes/Qt/Tools/mingw1310_64/bin/gcc.exe",
        "CMAKE_CXX_COMPILER": "D:/Work/Development/Runtimes/Qt/Tools/mingw1310_64/bin/g++.exe"
      }
    }
  ]
}
